html, body {
    margin: 0px;
    padding: 0px;
    background-color: dimgray;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: whitesmoke;
    height: 100vh;
}

.title {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.upload-area {
    padding: 5%;
}

input {
    margin-bottom: 5%;
}