html, body {
    margin: 0px;
    padding: 0px;
    background-color: dimgray;
    font-family: 'Arial', sans-serif;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: whitesmoke;
    height: 100vh;
    transition: transform 2s;
}

.title {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.upload-area {
    padding: 30px;
    width: 300px;
}

input {
    margin-bottom: 5%;
}

.animation-button {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 100;
}

#btn-animation {
    width: 120px;
}

.menu-button {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 100;
}

#btn-menu {
    width: 100px;
}